.AboutContainer{
    /* height: 105vh;
    width: 90%; */
    /* margin: auto; */
    text-align: center;
    padding: 0px 50px;
    font-size: 22px;
    background-color: black;
}

.aboutMe{
    padding: 0rem 0px;
}

.skills{
    padding: 1rem 0px;
}



.techStack ,.techstach1,.techstack2{
    justify-content: center;
    display: flex;
   color: black;
}
.techstach1 div,.techstack2 div{
    transition: 0.2s;
}
.techstach1 div:hover,.techstack2 div:hover{
    transform: scale(1.2);
}
.techStack div{
    height: fit-content;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}
.techStack div img {
    height:40px;
    
}
.techStack div p{
    font-size: 15px;
}

@media screen and (max-width: 600px){
    .AboutContainer{
        font-size: 15px;
        text-align: left;
        padding: 5px;
        text-align: center;
    }
    .techStack div{
        height: fit-content;
        margin: 2px;
        
        
    }
    .techStack{
        display:block
    }
    .techStack div p{
        font-size: 1rem;
        padding: 0px 0.5rem;
    }
}

