@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: #000;
  color: #fff;
}

h2,h4,p,a{
  color: #fff;
  text-decoration: none;
  
}

ul li{
  list-style: none;
  
}

.btn{
  padding: 12px 15px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(3, 3, 250);
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: #fff;
}

.btn:hover{
  background-color: rgba(18, 18, 148, 0.733);
  color: #fff;
  transition: 0.3s;
}